.color {
    color: orange;
}

.font-size {
    width: 50%;
    font-size: 30px;

}

.flexible-container {
    display: flex;
    margin-bottom: 10px;

}

.add-button {
    border-radius: 25px;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 25px;
    color: white;
    font-weight: 700px;
    border-color: orange
}


.side-setting {
    width: 70%;
    padding-left: 3%;
}



.side-setting img {
    width: 200%;
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    color: grey;
}


.image-setting {
    width: 100%;
    padding-left: 3%;
}

.set-banner {
    background-image: url(banner.png);
    background-repeat: no-repeat;
}

#girl-pic {
    width: 60%;
    height: 90%;
}